html, body {
	min-height: 100%;
	height:100%;
	width: 100%;
	font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Questrial', sans-serif;
}

.bgimg {
	width: 100%;
	min-height: 60%;
	display: inline-block;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-image: url('/images/bg/1.jpg');
}

.bgimg2 {
	width: 100%;
	height: 60%;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-image: url('/images/bg/2.jpg');
}

.bgimg3 {
	width: 100%;
	height: 60%;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-image: url('/images/bg/3.jpeg');
}

.bgimg9 {
	width: 100%;
	height: 60%;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-image: url('https://static.pexels.com/photos/8804/city-lights-sony-balcony.jpg');
}

.page100 {
	padding-top: 96px;
	width: 100%;
	min-height: 100%;
	position: relative;
}

.page80 {
	padding-top: 96px;
	width: 100%;
	min-height: 80%;
	position: relative;
	overflow: auto;
}

#partners {
	background-color: #2e3b47;
	color: #fff;
}

#footer {
	width: 100%;
	min-height: 20%;
	background-color: #6a6a6a;
	color: #fff;
	padding-top: 24px;
}

.text {
  padding-top: 48px;
	font-size: 36pt;
}

.textpage2 {
	padding-top: 48px;
	font-size: 16pt;
	line-height: 1.5em;
	text-align: left;
}

.orangetext {
	color: #f48220;
}

#header {
	background-color: rgba(255,255,255,0.60);
	width: 100%;
	position: fixed;
  top: 0;
  bottom: auto;
  z-index: 2;
  padding-top: 8px;
  padding-bottom: 8px;
}

.headershadow {
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.15);
}

.logohd {
	height: 80px;
}

/* BUTTONS */

/* This is the orange #f48220 */
/* This is the navy #2e3b47 */

.linkbtn {
	background-color: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 0px;
	height: 36px;
	color: #2e3b47;
	border: 1px solid #2e3b47;
}

.linkbtn:hover {
	background-color: #2e3b47 !important;
	color: #fff !important;
}

.linkbtnnow {
	background-color: #2e3b47 !important;
	color: #fff !important;
}

.btnhd {
	margin-top: 22px;
}

.linkbtnbig {
	height: 48px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	border-width: 2px !important;
}

.directorimg {
	width: 100px;
}

.mapimg {
	width: 100%;
}

.panelbtn {
	background-color: #fff;
	border: 1px solid #6a6a6a;
	color: #6a6a6a;
	padding-left: 16px;
	padding-right: 16px;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
}

.panelbtn:hover {
	background-color: #6a6a6a !important;
	color: #fff !important;
}

.activepanel {
	background-color: #6a6a6a !important;
	color: #fff !important;
}

.partnerimg {
	width: 80%;
}

.down, .up {
	background-color: #fff;
	border: none;
	height: 36px;
	width: 36px;
	border-radius: 36px;
	line-height: 36px;
	position: fixed;
	bottom: 16px;
	right: 32px;
	box-shadow: 0 0 2px rgba(0,0,0,0.45);
	z-index: 100;
}

.down:hover {
	bottom: 14px !important;
}

.up:hover {
	bottom: 18px !important;
}

button:focus {
	outline: 0;
}

#graphicbody {
	padding-top: 81px;
}

.graphicimg {
	width: 180px;
}

.graphicp {
	font-size: 11pt;
	line-height: 1.5em;
}

a > .orangetext {
	text-decoration: underline;
	color: #f48220;;
}

a:hover {
	text-decoration: none;
}

.cluster {
	position: fixed;
	right: 44px;
	bottom: 152px;
	z-index: 100;
}

.hollowcircle {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	margin-bottom: 6px;
	border: 1px solid #f48220;
	background-color: #fff;
	cursor: pointer;
	
}

.fullcircle {
	background-color: #f48220 !important;
}

.leftcorner {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,1);
	margin-left: 32px;
	margin-bottom: 32px;
	min-width: 60%;
	max-width: 80%;
	padding-left: 16px;
}

#header2 {
	background-color: rgba(255,255,255,0.60);
	width: 100%;  padding-top: 8px;
  padding-bottom: 8px;
}

.strip {
	background-color: #fff;
	width: 100%;
	padding-bottom: 10px;
}

.pagewithtext {
	font-size: 11pt;
	line-height: 16pt;
}

.lll {
	/*background-attachment: scroll;*/
	background-image: url('/images/graphics/lineduplyinglinks2.png');
	max-width: 940px;
	background-position: 100% 100%;
	margin: 0 auto;
	overflow: hidden;
	background-size: auto;
}

.shitboxl, .shitboxr {
	color: #6a6a6a;
	width: 44%;
	display: inline-block;
	margin-bottom: 12px;
	border: 1px solid #6a6a6a;
	vertical-align: top;
}

.shitboxr {
	margin-left: 10%;
}

.shitboxhead {
	text-align: center;
	background-color: #6a6a6a;
	color: #fff;
	overflow: auto;
}

.shitboxbody {
	padding: 12px;
}

.boardpanels {
	margin-bottom: 12px !important;
} 

#rempimage {
	width: 100%;
}

#rempimagecontainer {
	overflow: auto;
	padding-bottom: 12px;
}

.socialimg {
	width: 32px;
	margin-right: 16px;
}