<div id="footer">
	<div class="container" align="center">
		<div class="col-xs-5 col-xs-offset-1" align="right">
			Thanks for visitng Pashupati Commerce's website! 
		</div>
		<div class="col-xs-6" align="left">
			Do also look up our sister companies: <a href="http://linktelecom.co.in" class="footerlink" target="_blank">Link Telecom</a>, <a href="http://jalaninfosystem.co.in" class="footerlink" target="_blank">Jalan Infosystem</a>, <a href="http://jalanbrothers.co.in" class="footerlink" target="_blank">Jalan Brothers</a>, and Agastya Logistics.
		</div>
	</div>
	<div class="container" align="center">
		<div class="col-xs-10 col-xs-offset-1">
			<br>
			All content &copy; Pashupati Commerce Private Limited, unless otherwise noted or attributed.
			<br>
			Pashupati Commerce Private Limited is registered as a private limited company under the Companies Act of India 1956.
			<br>
			<br>
		</div>
	</div>
</div>