<div id="footer">
	<div class="container" align="center">
		<div class="col-xs-5 col-xs-offset-1" align="right">
			Follow us on social media:<br><br>
			<a href="https://www.facebook.com/LTPLtd" target="_blank">
				<img src="{{ site.baseurl }}/images/social/facebook.png" class="socialimg">
			</a>
			<a href="https://twitter.com/Link_Telecom" target="_blank">
				<img src="{{ site.baseurl }}/images/social/twitter.png" class="socialimg">
			</a>
		</div>
		<div class="col-xs-6" align="left">
			Thanks for visitng Link Telecom's website! 
			<br><br>
			Do also look up our sister companies: Jalan Infosystems, Jalan Brothers, Pashupati Commerce, and Agastya Logistics.
		</div>
	</div>
	<div class="container" align="center">
		<div class="col-xs-10 col-xs-offset-1">
			<br>
			&copy; Link Telecom Private Limited
			<br>
			<br>
		</div>
	</div>
</div>